body.image-auto-rename-filename-hide .canvas-node-label {
	display: none;
}

body.image-auto-rename-filename-hover .canvas-node {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.06);
}

body.image-auto-rename-filename-hover .canvas-node:hover {
	border-color: rgba(0, 150, 255, 0.6);
}

body.image-auto-rename-filename-hover .canvas-node-label {
	opacity: 0;
	transition: opacity 0.2s;
}

body.image-auto-rename-filename-hover .canvas-node:hover .canvas-node-label {
	opacity: 1;
}

.image-auto-rename-hidden-file,
.image-auto-rename-hidden-file-container {
	display: none;
}

.workspace .image-auto-rename-base-name-styled,
.workspace .image-auto-rename-base-name-styled a,
.workspace .image-auto-rename-base-name-styled span,
.workspace .image-auto-rename-base-name-styled div {
	color: var(--image-auto-rename-base-name-color);
	font-weight: 700;
}

.image-auto-rename-settings-view {
	padding: 16px 24px;
}
